.gemButtons img{

	height: 300px;
	width: 200px;
	/*border: red 2px solid;*/
}

/*#garnet{

	height: 400px;
}
*/
.panel-body p{

	text-align: center;
	font-size: larger;
	margin-top: 5px white solid;

}

.row p{

	text-align: center;
	font-size: larger;

}


.jumbotron{
	
    background: url(https://ak2.picdn.net/shutterstock/videos/7009840/thumb/1.jpg) no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;

}


h1{

	/*font-family: 'Modak', cursive;*/
	font-family: 'Baloo', cursive;
	font-weight: 200;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container-fluid{
	background-color: #D4BBEE;/*light purple*/
	color: #5B2595;
	font-weight: 700;

}
