.gemButtons img{

	height: 300px;
	width: 200px;
	/*border: red 2px solid;*/
}

.panel-body{


}

.jumbotron{
	
    background-image: url("../images/jumbobg.png") no-repeat center center;
    background-position: 0% 25%;
    background-size: cover;

}
