.gemButtons img{

	height: 300px;
	width: 200px;
	/*border: red 2px solid;*/
}

.panel-body{

	text-align: center;


}

.jumbotron{
	
    background: url(https://ak2.picdn.net/shutterstock/videos/7009840/thumb/1.jpg) no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;

}


h1{

	/*font-family: 'Modak', cursive;*/
	font-family: 'Baloo', cursive;
	font-weight: 200;
}

